<% content_for :body_class do %>account<% end %>
<div class="page-header">
  <h1>Sign Up</h1>
</div>

<div class="row">
  <div class="span7 offset1">
    <h3>Sign up on ClubPlus manually</h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-stacked"}) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="clearfix">
        <%= f.label :name %>
        <div class="input"><%= f.text_field :name, :class => "xlarge" %></div>
      </div>

      <div class="clearfix">
        <%= f.label :email %>
        <div class="input"><%= f.email_field :email, :class => "xlarge" %></div>
      </div>

      <div class="clearfix">
        <%= f.label :password %>
        <div class="input"><%= f.password_field :password, :class => "xlarge" %></div>
      </div>

      <div class="clearfix">
        <%= f.label :password_confirmation %>
        <div class="input"><%= f.password_field :password_confirmation, :class => "xlarge" %></div>
      </div>

      <div><%= f.submit "Sign up", :class => "btn primary" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
  <div class="span7 offset1"><%= render :partial => "devise/shared/login_services" %></div>
</div>


